// Fonts
$f_proximanova: 'ProximaNova', sans-serif;

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Reg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Xbold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}