@media (max-width: 1215px) {

  .container,
  .lightpaper-section .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .service-section {
    padding-top: 135px;
  }

  .service-section__wrapper {
    padding-top: 58px;
  }

  .service-section__item {
    padding: 0 15px 0 0;
  }

  .lightpaper-section__pic {
    position: absolute;
    top: -125px;
    left: -15px;
    right: 0;
    width: 565px;
    height: auto;
  }

  .lightpaper-section__text {
    width: auto;
    margin-left: 40px;
  }
}

@media (max-width: 830px) {
  .lightpaper-section__heading {
    width: auto;
  }

  .lightpaper-section__text {
    width: 100%;
    margin-left: 0;
  }

  .lightpaper-section__left {
    flex-wrap: wrap
  }

  .section-heading {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.9px;
  }

  .service-section__item_heading {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.44px;
  }

  .service-section__item_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .lightpaper-section__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .lightpaper-section__heading {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.64px;
  }

  .search-section__heading span {
    margin-left: 0;
  }

  .lightpaper-section .container {
    padding: 195px 15px 60px 15px;
  }

  .lightpaper-section__pic {
    width: 464px;
    height: 412px;
    top: -260px;
    left: -60px;
  }

  .lightpaper-section__button {
    width: auto;
    left: 48px;
    right: 48px;
    text-align: center;
    padding: 26px 0;
  }

  .service-section__item {
    padding-right: 20px;
  }

  .section-heading:before {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 580px) {
  .service-section__item {
    width: 100%;
    padding: 0;
  }

  .service-section__item_pic svg {
    height: auto;
    width: 36px;
  }

  .section-heading {
    width: 225px;
  }

  .section-heading:before {
    top: -44px;
    background: url("../images/heading_pic_min.svg") no-repeat center
  }

  .service-section__item_heading {
    margin-bottom: 35px;
  }

  .service-section__item_text {
    letter-spacing: 0.23px;
  }

  .service-section__item {
    margin-bottom: 52px;
  }

  .service-section__wrapper {
    padding-bottom: 29px;
  }

  .lightpaper-section__pic {
    top: -386px;
    left: 64px;
  }

  .lightpaper-section .container {
    padding: 195px 15px 45px 15px;
  }

  .lightpaper-section__heading {
    margin-left: 16px;
    max-width: 110px;
  }

  .lightpaper-section__left,
  .lightpaper-section__right {
    width: 100%;
  }

  .lightpaper-section__text {
    margin-left: 16px;
    margin-top: 48px;
    max-width: 205px;
  }

  .lightpaper-section .container {
    display: block;
  }

  .lightpaper-section .container {
    padding-bottom: 65px;
  }

  .lightpaper-section__button {
    font-size: 16px;
    padding: 19px 0;
    bottom: -27px;
    letter-spacing: 0;
  }

  .lightpaper-section {
    margin-bottom: 27px;
    padding: 45px 0 110px;
    overflow: hidden;
    margin-top: -45px;
  }

  .service-section {
    background-position: 50% 23%;
  }

  .lightpaper-section .container {
    background: #1F65D9 url(../images/lightpaper_bg_min.svg) no-repeat;
    background-position: 0 200px;
  }

  .lightpaper-section__left {
    display: block;
  }
}
