@import "fonts.scss";
@import "reset.scss";
@import "variables.scss";


body {
  font-family: $f_proximanova;
  background: #EAEFF5;
  overflow-x: hidden
}

.container {
  max-width: 1172px;
  margin: auto
}

.service-section {
  background: $c_DarkBlue url('../images/favicon_primary_white.svg')no-repeat;
  background-size: 584px 682px;
  background-position: 50% 34%;
}

.service-section {
  padding-top: 180px;
}

.service-section__heading {
  color: $c_White;
}

.section-heading {
  font-weight: 900;
  max-width: 380px;
  font-size: 48px;
  line-height: 58px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1.44px;

  &:before {
    content: '';
    position: absolute;
    top: -47px;
    left: 0;
    width: 28px;
    height: 29px;
    background: url('../images/heading_pic.svg')no-repeat center
  }
}

.service-section__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 123px 0 88px;
}

.service-section__item {
  width: 50%;
  padding: 0 45px 0 100px;
  margin-bottom: 98px;
}

.service-section__item_pic {
  margin-bottom: 25px;

  & svg {
    height: 52px;
  }
}

.service-section__item_heading {
  color: $c_White;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 50px;
  letter-spacing: 0.64px
}

.service-section__item_text {
  color: $c_ItemText;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.25px
}

.lightpaper-section .container {
  background: $c_Blue url('../images/lightpaper_bg.svg')no-repeat;
  background-position: 1px 79px;
  padding: 71px 0 93px 0;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    background: $c_Blue
  }
}

.lightpaper-section__left,
.lightpaper-section__right {
  width: 50%;
  position: relative;
}

.lightpaper-section__pic {
  position: absolute;
  top: -144px;
  left: -75px;
  right: 0;
  width: 677px;
  height: 601px;
}

.lightpaper-section__heading {
  font-size: 32px;
  line-height: 39px;
  color: $c_White;
  font-weight: 800;
  width: 230px;
  letter-spacing: 0.64px;
}

.lightpaper-section__button {
  background: $c_Yellow;
  color: $c_DarkBlue;
  display: block;
  position: absolute;
  bottom: -37px;
  left: 94px;
  width: fit-content;
  padding: 26px 130px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  letter-spacing: 0.46px;
  z-index: 1;
  transition: transform .5s ease;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0 0 50px $c_DarkBlue;
    opacity: 0;
    background: transparent;
    transition: opacity .5s ease
  }

  &:hover {
    transform: translateY(5px);
    color: $c_DarkBlue;

    &:before {
      opacity: 1
    }
  }

}

.lightpaper-section__left {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
}

.lightpaper-section__text {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.48px;
  color: $c_White;
  width: 217px;
  margin: 44px 0 0 64px;
}

.lightpaper-section {
  margin-bottom: 216px;
}

.search-section__heading {
  max-width: 480px;

  & span {
    margin-left: 10px;
  }
}

.search-section {
  margin-bottom: 430px;
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        -o-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0); 
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes fadeInUp{
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        -o-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0); 
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
[data-animate] {
    opacity: 0;
    visibility: hidden;
}
.animated{
    animation-duration: .4s;
    animation-fill-mode: both;
}
[data-animate].animated{
    opacity: 1;
    visibility: visible;
    animation-name: fadeInUp;
}
.animated.done {
    animation: none;
}

@import "responsive.scss";
